#sidebar {
    position: absolute;
    background-image: -webkit-gradient(
        linear,
        left top,
        left 500,
        color-stop(0, #EDEDED),
        color-stop(1, #F5F5F5)
    );
    width: 219px;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 1px solid #C2C2C2;
    box-shadow: inset -8px 0 30px -30px black;
}

#sidebar img {
    position: absolute;
    top: 12px;
    left: 12px;
}

#sidebar h1 {
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 26px;
    color: #707070;
}

#tab-container {
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: right;
}

#tab-container .tab {
    height: 30px;
    padding-right: 25px;
    border: 1px solid transparent;
    border-left: none !important;
    border-right: none !important;
    font-size: 13px;
    line-height: 30px;
    color: #808080;
    cursor: pointer;
}

#tab-container .tab.selected {
    background-color: #D4D4D4;
    border: 1px solid #BFBFBF;
    color: black;
    text-shadow: none;
    box-shadow: inset -12px 0 30px -30px black;
}

#search-container {
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 23px !important;
}

#search-container input[type=search] {
    width: 130px;
}

#search-container input[type=search]:focus {
    outline: auto;
}

#content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 220px;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-content {
    position: absolute;
    width: 840px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    padding-top: 15px;
    display: none;
}
