.tab-content h2 {
    margin: 0;
    padding-top: 1px;
    padding-bottom: 5px;
    font-size: 26px;
    color: #707070;
    line-height: 1;
}

.setting.group {
    border-top: 1px solid #EEEEEE;
    margin-top: 3px;
    padding-top: 15px;
}

.setting.group-name {
    width: 130px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}

.setting.group-content {
    display: inline-block;
}

.setting.bundle {
    border-bottom: 1px solid #EEEEEE;
}